html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #1d1d1d;
  background-color: #f2f2f2;
}

@media (min-width: 892px) {
  body {
    background-color: white;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

.navbar {
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  background-color: white;
}

.navbar .row {
  height: 72px;
}

.navbar .row div {
  display: flex;
  align-items: center;
}

.btn {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  height: 40px;
  padding: 8px 12px;
  cursor: pointer;
}

.delivery .box {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  height: 40px;
  padding: 8px 12px;
}

.delivery .to {
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
}

.delivery .dest .location {
  margin-right: 12px;
}

.delivery .dest input {
  width: 215px;
  font-size: 13px;
  border: none;
}

@media (min-width: 576px) {
  .btns {
    font-weight: 500;
  }
}

@media (min-width: 892px) {
  .delivery .dest input {
    width: 240px;
    font-size: 16px;
  }
}

.navbar .navbar-btns {
  width: 100%;
  justify-content: flex-end;
  font-size: 13px;
}

.register {
  border: none;
  background-color: #262626;
  color: white;
  margin-left: 16px;
}

.basket {
  width: 40px;
  display: flex;
  justify-content: center;
  margin-left: 16px;
}

header {
  position: relative;
}

.rest-photo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 256px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/rest_photo.png");
  z-index: -1;
}

.rest {
  min-height: 204px;
  margin-top: 130px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 0 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  padding: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*
lg xl
margin-top: 80px;
*/

.rest > .name {
  font-weight: 400;
  margin: 0;
  font-size: 24px;
}

/*
lg xl
font-size: 36px;
*/

.rest .delivery-time {
  margin-top: 16px;
  border-radius: 16px;
  color: white;
  background-color: #262626;
  padding: 8px 16px;
}

.rest-info {
  font-size: 14px;
  color: #626262;
}

.rest .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 715px) {
  .rest-photo {
    height: 364px;
  }

  .rest {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .rest .delivery-time {
    margin-top: 0px;
  }

  .rest .name {
    font-size: 36px;
    align-self: flex-start;
  }

  .rest .bottom {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 892px) and (max-width: 990px) {
  .rest .name {
    font-size: 32px;
  }
}

.menu .navigation {
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: content-box;
}

.menu nav {
  line-height: 80px;
  max-height: 80px;
  display: flex;
  box-sizing: border-box;
}

.menu nav a {
  color: #626262;
  margin-right: 40px;
  cursor: pointer;
}

.menu nav a.selected {
  color: #327430;
}

.menu nav a:hover {
  border-bottom: 2px solid #327430;
}

.menu .header {
  margin: 56px 0 40px;
}

.menu .header h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.menu .header .divider {
  height: 1px;
  width: 50px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #757575;
}

.menu .card {
  height: 100px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.card .photo {
  margin: -1px -1px -1px 0;
  border-radius: 2px;
  width: 100px;
  background-position: center center;
  background-size: cover;
}

.card .info {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.card .title {
  font-size: 14px;
  max-width: 170px;
}

.card .subtitle {
  margin-top: 4px;
  font-size: 13px;
  max-width: 170px;
  color: #626262;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card .price {
  font-size: 15px;
  font-weight: 500;
  margin-top: auto;
}

@media (min-width: 715px) {
  .menu .header h2 {
    text-align: left;
  }

  .menu .card {
    height: 160px;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
  }

  .menu .card.active {
    background-color: rgba(75, 75, 75, 0.04);
  }

  .card .photo {
    width: 200px;
    background-position: center center;
    background-size: cover;
  }

  .card .title {
    font-size: 16px;
    max-width: 500px;
  }

  .card .subtitle {
    max-width: 500px;
  }

  .card .info {
    padding: 16px 24px 16px;
    padding-right: 0px;
  }
}

footer {
  background-color: #262626;
  color: white;
  font-weight: 300;
}

footer .logo {
  padding: 56px 0 40px;
}

footer .divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

footer .links {
  padding: 32px 0 48px;
}

.language-selector {
  display: flex;
  background-color: #3b3b3b;
  border-radius: 2px;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.language-selector .icon {
  margin-left: 24px;
}

.language-selector .language {
  text-transform: uppercase;
  margin-left: 18px;
  font-size: 13px;
}

.language-selector .arrow {
  margin-left: auto;
  margin-right: 8px;
}

footer .download {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

footer .download .app-store {
  margin-right: 10px;
}

footer .download .google-play {
  margin-left: 10px;
}

footer .social {
  margin-bottom: 40px;
}

footer .social .tag {
  padding: 35px 0 15px;
}

footer .social .hash {
  color: #327430;
  margin-right: -3px;
}

footer .social .icon {
  display: inline-block;
  margin-right: 12px;
}

footer .option a,
footer .copyright a {
  text-decoration: none;
  font-size: 13px;
  color: white;
}

footer .option {
  margin-bottom: 26px;
}

footer .copyright {
  padding: 40px 0 14px;
}

footer .copyright a {
  display: block;
}

footer .download footer .copyright {
  padding: 40px 0;
}

@media (min-width: 715px) {
  footer .download .app-store {
    margin-right: 20px;
  }

  footer .download .google-play {
    margin-left: 20px;
  }
}

/* height: 80px;
width: 80px; */
.scroll-top-arrow {
  height: 64px;
  width: 64px;
  position: fixed;
  background: #59bd5a url("../img/arrow_top.svg") no-repeat center;
  border-radius: 2px;
  cursor: pointer;
  right: 16px;
  bottom: 24px;
}
